.header {
    font-family: Inter;
    font-size: 1.75rem;
    padding: 1.0625rem 0 2rem 0;
}

.header__inner {
    display: flex;
    flex-direction: column;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo {
    width: 110px;
    height: 32px;
    fill: var(--image-color);    
}

.header__switch {
    display: none;
}

.header__icon {
    width: 24px;
    height: 24px;
    stroke: var(--alternate-border);
}

.header__title {
    font-size: inherit;
    margin: 3rem 0 0 0;
    font-weight: normal;
    line-height: 1.357;
    color: var(--text-main);
}

.header_secondary {
    padding: 1.0625rem 0 1.0625rem 0;
    background-color: var(--main-page-bg);
    position: relative;
    z-index: 1;
}

.header__burger-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.header__burger-menu {
    top: calc(2.125rem + 32px);
    height: calc(100vh - 2.125rem - 32px);
    z-index: 3;
}

@media screen and (min-width: 768px) {
    .header {        
        font-size: 3.125rem;
        padding: 1.5625rem 0 2.5rem 0; 
    }

    .header__menu {
        justify-content: space-between;
    }

    .header__switch {
        display: flex;
        align-items: center;
        gap: 13px;
    }

    .header__title {
        font-weight: 500;        
        line-height: 1.28;        
        margin-top: 2.5rem;
    }   

    .header_secondary {
        padding: 1.5625rem 0 1.5625rem 0;
    }    
    
    .header__burger-button {
        display: none;
    }
}