.header {
    font-family: Inter;
    font-size: 1.75rem;
    border-bottom: 1px solid var(--main-border);  
    padding: 1.0625rem 0 4.3125rem 0;  
}

.header__title {
    font-size: inherit;
    margin: 3rem 0 0 0;
    font-weight: normal;
    line-height: 1.357;
    color: var(--text-details);    
}

.header_secondary {
    border-bottom: none;
    padding: 1.0625rem 0 1.0625rem 0;
    background-color: var(--main-bg-color);
    position: relative;
}

.header__burger {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.header__burger-menu {
    top: 66px;
    height: calc(100vh - 66px);
}

@media screen and (min-width: 768px) {
    .header {        
        font-size: 3.125rem;
        padding-bottom: 4.8125rem; 
    }

    .header__title {
        font-weight: 500;        
        line-height: 1.28;
        color: var(--text-main);
        margin-top: 2.9375rem;
    }   

    .header_secondary {
        padding: 1.5625rem 0 1.5625rem 0;
        background-color: var(--alternate-bg);
    }      
}