/* Стилизация кнопки */
.button {
    min-width: 11.875em;
    padding: 0.9375em 0.9375em;
    border-radius: 0.5em;
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    transition: background 200ms ease-in-out;
    line-height: 1.1875;
    font-weight: 500;
}

.button:disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
}

.button_primary:hover {
    background-color: var(--primary-bg-hover);    
    border-color: var(--primary-border-hover);
}

.button_primary {
    background-color: var(--primary-bg);
    border-color: var(--primary-border);
    color: var(--primary-text-color);
}

.button_secondary:hover {
    background-color: var(--secondary-bg-hover);    
    border-color: var(--secondary-border-hover);
}

.button_secondary {
    background-color: var(--secondary-bg);
    border-color: var(--secondary-border);
    color: var(--secondary-text-color);
}

.button_alternate:hover {
    background-color: var(--alternate-bg-hover);    
    border-color: var(--alternate-border-hover);
}

.button_alternate {
    background-color: var(--alternate);
    border-color: var(--alternate-border);
    color: var(--alternate-text-color);
}

.button_preview {
    pointer-events: none;
    font-size: 0.3rem;
}

@media screen and (min-width: 768px) {
    .button_preview {
        pointer-events: none;
        font-size: 0.7rem;
    }    
}