/* Стилизация аккордеона */
.accordion {
    max-width: 45.625rem;
}

.accordion__accordion-item {
    margin-bottom: 0.5rem;
    border: 1px solid var(--border);
    box-sizing: border-box;
    border-radius: 8px;
    font-family: Inter;
    line-height: 1.5;
    font-weight: normal;    
    padding: 1.5rem 2em;    
}

.accordion__accordion-item:last-child {
    margin-bottom: 0px;
}

.accordion__summary {    
    color: var(--text-main);
    display: block;
}

.accordion__summary::-webkit-details-marker {
    display: none;
}

.accordion__text-details {
    color: var(--text-details);
    margin: 1rem 0 0 0;
    padding: 0 1.0625em 0.5rem 0;    
}