.modal {   
    --modal-title: #334D6E;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;   
    background-color: rgba(196, 196, 196, 0.5);
    display: none; 
}

.modal__window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background-color: var(--alternate-bg);
    padding: 1.875rem 2.5em 2.0625rem 2.5em;
}

.modal__title {
    font-family: Inter;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.2;
    color: var(--modal-title);
    margin: 0 0 0.875rem 0;
}

.modal__content {
    font-family: Inter;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text-details);
}

.modal__text {
    margin: 0;
}

.modal__close {
    position: absolute;
    right: 0.75rem;
    top: 0.75rem;
    width: 16px;
    height: 16px;
    cursor: pointer;
}