.modal {   
    --modal-title: #334D6E;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;   
    background-color: rgba(196, 196, 196, 0.5);
    display: none; 
}

.modal__window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background-color: var(--alternate-bg);
    padding: 1.875em 2.5em 2.0625em 2.5em;
}

.modal__title {
    font-family: Inter;
    font-weight: 600;
    font-size: 1.25em;
    line-height: 1.2;
    color: var(--modal-title);
    margin: 0 0 0.7em 0;
}

.modal__content {
    font-family: Inter;
    font-size: 1em;
    line-height: 1.5;
    color: var(--text-details);
}

.modal__text {
    margin: 0;
}

.modal__close-image {  
    position: absolute;  
    right: 4px;
    top: 12px;
    width: 24px;
    height: 24px;
    cursor: pointer;  
    transform: scale(0.66666) translate(-6px, -6px);
}

.modal_preview {
    display: flex;    
    align-items: center;
    position: static;
    background-color: rgba(196, 196, 196, 1);
    pointer-events: none;    
    font-size: 0.375rem;
    width: 100%;
    box-sizing: border-box;
}

.modal_preview .modal__window {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    flex-grow: 1;
}

@media screen and (min-width: 768px) {
    .modal_preview {
        padding: 0 1.375rem;
        font-size: 0.5625rem;
    }    
}