.historgam {
    border: 1px solid var(--border);
    box-sizing: border-box;
    border-radius: 8px;  
    padding: 1em 1.5em 1.5em 1.625em;
    display: flex;
    flex-direction: column;
    gap: 2.4375em;
    font-family: Inter;
}

.historgam__header {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.historgam__content {
    height: 50px;
    animation: appear 0.6s ease-out;
}

@keyframes appear {
    0% {
        transform: scaleY(0);
        transform-origin: bottom center;
    }
    100% {
        transform: scaleY(1);
        transform-origin: bottom center;
    }
}

.historgam__text {
    opacity: 0.8;
    color: var(--text-active);
    line-height: 1.5;
    margin: 0px;
}

.historgam__text_value {
    font-size: 1.25em;
    line-height: 1.3;
    opacity: 1;
    margin-top: 0.3em;
}

.historgam__link {
    margin-top: 0.1875em;
    line-height: 1.5;
    color: var(--primary-bg);
    margin: 0;
}

.historgam__content {
    display: flex;
    align-items: flex-end;
    gap: 1px;
}

.historgam__column {
    background-color: var(--primary-bg);    
    flex-grow: 1;    
}

.historgam_preview {
    font-size: 0.625rem;
}

@media screen and (min-width: 768px) {
    .historgam_preview {
        font-size: 1rem;
    }
}