.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page__main {
    flex-grow: 1;
}

.page_secondary {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 36px;
    background-color: var(--main-bg-color);
}