.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page__main {
    flex-grow: 1;
}

.page_secondary {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: var(--alternate-bg);    
}

@media screen and (min-width: 768px) {
    .page_secondary {
        grid-template-rows: auto 1fr auto;
        gap: 2.25rem;
        background-color: var(--main-bg-color);
    }  
}