.avatar {
    width: 116px;
    height: 116px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}

.avatar__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media screen and (min-width: 768px) {
    .avatar {
        width: 160px;
        height: 160px;
    }
}