.radio {
    display: inline-flex;
}

.radio__input {
    position: absolute;
    outline: none;
    clip: rect(0, 0, 0, 0);
}

.radio__state {
    display: flex;
    align-items: center;
    gap: 0.75em;
    cursor: pointer;
}

.radio__control {
    width: 1.75em;
    height: 1.75em;
    border: 1px solid var(--main-border);
    box-sizing: border-box;
    border-radius: 0.875em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio__icon {
    width: 1.125em;
    height: 1.125em;
    background: var(--alternate-bg);
    border-radius: 0.875em;
    opacity: 0;
}

.radio__title {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.5;
    color: var(--text-controls);
}

.radio__input:checked ~ .radio__state .radio__control {
    border: 2px solid var(--primary-border);
}

.radio__input:checked ~ .radio__state .radio__icon {
    background: var(--primary-bg);   
    opacity: 1; 
}

.radio__input:focus ~ .radio__state .radio__title {
    text-decoration: underline;
}

.radio__input:disabled ~ .radio__state .radio__control,
.radio__input:disabled ~ .radio__state .radio__control .radio__icon {
    background: var(--disabled-color); 
    border-color: var(--disabled-color);   
}

.radio__input:disabled ~ .radio__state .radio__title {
    color: var(--disabled-color);
}

.radio__input:disabled ~ .radio__state {
    cursor: default;
}

.radio_preview {
    pointer-events: none;
    font-size: 0.625rem;
}

@media screen and (min-width: 768px) {
    .radio_preview {
        font-size: 1rem;
    }    
}