.calendar {
    --calendar_text: #334D6E;
    --calendar_column: #90A0B7;
    --calendar_select: #A0B1F5;
    border: 1px solid var(--border);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 1.75em 1.625em 2em 1.625em;
}

.calendar__title {    
    font-family: Inter;
    font-weight: 600;
    font-size: 1.25em;
    line-height: 1.2;
    color: var(--calendar_text);
    text-align: center;
    margin: 0 0 1.5em 0;
}

.calendar__wraper {
    padding-bottom: 100%;
    position: relative;
}

.calendar__inner {
    display: grid;
    grid-template: repeat(7, 1fr) / repeat(7, 1fr);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    place-items: center;
}

.calendar__text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: Source Sans Pro;
    font-size: 1em;
    line-height: 1.25;
    color: var(--calendar_text);
}

.calendar__text_header {
    align-items: start;      
    font-family: Inter;
    font-size: 0.875em;   
    color: var(--calendar_column);     
}

.calendar__text_select {
    background-color: var(--calendar_select);
}

.calendar__text_corner {
    background-color: var(--primary-bg);
    color: var(--primary-text-color);
}

.calendar_preview {
    font-size: 0.4375rem;
}

@media screen and (min-width: 768px) {
    .calendar_preview {
        font-size: 0.625rem;
    }
}