.skeleton__top {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
}

.skeleton {
    padding: 1.5rem 2.5em 1.5rem 1.5em;
    border: 1px solid var(--border);
    box-sizing: border-box;
    border-radius: 8px;
}

.skeleton__block {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;    
    justify-content: space-between;    
    padding: 0.5rem 0 0.5rem 0;
    flex-grow: 1;
}

.skeleton__line {
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
    height: 1.25rem;
}

.skeleton__line_short {
    width: 60%;
}

.skeleton__line_shortest {
    width: 40%;
}

.skeleton__round {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    background: var(--block-bg);
    margin-right: 1rem;
}