.logo {    
    display: flex;
    height: 100%;
    align-items: center;
}

.logo__image {
    width: 110px;
    height: 32px;
}

@media screen and (max-width: 767px) {
    .logo {    
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .logo {
        justify-content: flex-start;
    }
}