.burger {
    display: inline-flex;
}

.burger__input {
    position: absolute;
    outline: none;
    clip: rect(0, 0, 0, 0);
}

.burger__button {    
    width: 32px;
    height: 32px;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 0;    
    padding: 4px;        
}

.burger__button_close {
    border-radius: 50%;
    background-color: var(--block-bg);
    padding: 4px;
}

.burger__icon {
    width: 24px;
    height: 24px;
}

.burger__input:checked ~ .burger__state .burger__button_close,
.burger__input:not(:checked) ~ .burger__state .burger__button_open {
    display: block;
}

.burger__input:checked ~ .burger__state .burger__button_open,
.burger__input:not(:checked) ~ .burger__state .burger__button_close {
    display: none;
}

.burger__menu {
    background-color: var(--main-bg-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(-100vw);
    transition: transform 200ms ease-in-out;
    padding: 1rem;
    box-sizing: border-box;
}

.burger__input:checked ~ .burger__menu {
    transform: translateX(0);
}

@media screen and (min-width: 768px) {
    .burger {
        display: none;
    }
}