.burger {
    background-color: var(--main-page-bg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(-100vw);
    transition: transform 200ms ease-in-out;
    padding: 1rem;
    box-sizing: border-box;
}

.burger_main {
    background-color: var(--alternate-page-bg);
}

#burger_button:checked ~ .burger {
    transform: translateX(0);
}

@media screen and (min-width: 768px) {
    .burger {
        display: none;
    }
}