.menu {
    display: none;
}

@media screen and (min-width: 768px) {
    .menu {
        --text-select-color: #D84910;
        --text-title-color: #000000;    
        width: 14.3125rem;
        display: block;
    }

    .menu__title {
        font-size: 1.25rem;
        line-height: 1.3;
        font-weight: normal;
        margin: 0 0 1rem 0;
        color: var(--text-title-color);
    }

    .menu__item {
        font-size: 0.875rem;
        line-height: 1.57;
        color: var(--text-main);
        margin-bottom: 0.25rem;
        display: block;
        text-decoration: none;
    }

    .menu__item_select {
        color: var(--text-select-color);
    }

    .menu__item_main {
        margin: 1.625rem 0 0 0;
    }
}