.preview {
    --preview-bg-color: #F9FAFC;
    background-color: var(--preview-bg-color);
    padding: 68px 0 204px 0;
}

.preview__inner {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.preview__inner-card {
    flex-basis: calc(33.3333% - 30px);
}