.preview {
    --preview-bg-color: #F9FAFC;
    background-color: var(--preview-bg-color);
}

.preview__inner {
    display: grid;
}

@media screen and (max-width: 767px) {
    .preview {
        padding: 1.5rem 0 3.375rem 0;
    }
    
    .preview__inner {
        grid-template-columns: repeat(auto-fill, minmax(10.25rem, 1fr));
        gap: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .preview {
        padding: 4.25rem 0 12.75rem 0;
    }

    .preview__inner {
        grid-template-columns: repeat(auto-fill, minmax(21.875rem, 1fr));        
        gap: 1.875rem;
    }
}