.input {
    display: inline-block;
}

.input__title {    
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 0.75em;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-footer);
    margin-bottom: 0.42em;
    display: block;    
}

.input__input { 
    border: 1px solid var(--main-border);
    box-sizing: border-box;
    border-radius: 8px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25em;
    line-height: 1.3;
    padding: 0.75em 1.2em 0.75em 1.2em;
    color: var(--text-details);
    outline: none;
    width: 100%;
    background-color: var(--alternate-page-bg);
}

.input__input::-webkit-input-placeholder {
    color: var(--disabled-color);
}

.input__input::-moz-placeholder {
    color: var(--disabled-color);
}

.input__input:focus {
    border-color: var(--primary-border);
    box-shadow: 0px 1px 1px rgba(51, 154, 240, 0.1);
}

.input_invalid .input__input {
    border-color: var(--error);
    box-shadow: 0px 1px 1px rgba(240, 61, 62, 0.1);
}

.input_invalid .input__input,
.input_success .input__input {
    padding-right: 3.5em;
}

.input__icon {
    position: absolute;
    top: 1em;
    right: 1em;
    display: none;
    width: 24px;
    height: 24px;
}

.input_invalid .input__icon.input__icon_invalid {
    display: block;
}

.input_success .input__icon.input__icon_success {
    display: block;
}

.input__content {
    position: relative;
}

.input_preview {
    pointer-events: none;
    font-size: 0.4rem;
}

.input_preview .input__icon {
    transform: scale(0.66666) translate(1.5em, -1.5em);
}

@media screen and (min-width: 768px) {
    .input_preview {
        font-size: 0.8rem;
    }    

    .input_preview .input__icon {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
}